.header {
    position: relative;
    &__container {
        padding: 12px 80px;
        background: var(--dark-text);
        @media(max-width: 1920px) {
            max-width: 100%;
        }
        @media(max-width: 415px) {
            padding: 12px 20px;
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: clamp(1.25rem, 1.125rem + 0.63vw, 1.875rem);
        @media(max-width: 1920px) {
            max-width: 1440px;     
            margin: 0 auto;       
        }
    }
    .logo {
        padding: 20px;
    }
    &__navigation {
        display: flex;
        align-items: center;
        column-gap: clamp(1.438rem, 1.313rem + 0.63vw, 2.063rem);
        .nav {
            @media(max-width: 990px) {
                position: absolute;
                top: 0;
                left: -100%;
                height: 100vh;
                width: 80%;
                background-color: var(--grey);
                overflow: auto;
                padding: 20px 0px;
                display: flex;
                transition: left 0.3s ease-in;
                &.active {
                    left: 0;
                    z-index: 5;
                }
            }
            .nav__list {
                @media(max-width: 990px) {
                    flex-direction: column;
                    margin: auto;
                    row-gap: clamp(0.625rem, 0.5rem + 0.63vw, 1.25rem);
                }
                display: flex;
                column-gap: clamp(0.938rem, 0.813rem + 0.63vw, 1.563rem);
                li:hover>.submenu {
                    opacity: 1;
                    visibility: visible;
                    transform: rotate(0);
                }
                .nav__item {
                    &:last-child {
                        display: none
                    }
                    @media(max-width: 415px) {
                        &:last-child {
                            display: block;
                        }
                        .nav-button {
                            display: block;
                            margin-top: 100px;
                            border: 1px solid var(--accent-text);
                        }
                    }
                    .submenu {
                        background: #464343;
                        position: absolute;
                        z-index: 5;
                        transform-origin: 0 0;
                        transform: rotateX(-90deg);
                        transition: .3s linear;
                        visibility: hidden;
                        opacity: 0;
                        li {
                            position: relative;
                        }
                        a {
                            display: block;
                            padding: 10px 20px;
                            color: var(--light-text);
                            font-family: var(--main-font);
                            font-weight: 400;
                            line-height: 1.75;
                            font-size: 16px;
                            border-bottom: 1px solid #FFF;
                            &:hover {
                                background: var(--gold);
                            }
                        }
                        .submenu {
                            position: absolute;
                            top: 0;
                            left: 100%;
                            transition: transform .3s linear;
                        }
                    }
                }
                .nav__link {
                    color: var(--light-text);
                    font-family: var(--main-font);
                    font-weight: 400;
                    line-height: 1.75;
                    font-size: 16px;
                    position: relative;
                    @media(max-width: 950px) {
                        font-size: 30px;
                        font-weight: 700;
                    }
                    &:hover::before {
                        width: 100%;
                        left: 0;
                        right: 0%;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        left: 50%;
                        right: 50%;
                        background: #fff;
                        width: 0;
                        height: 1px;
                        bottom: -2px;
                        transition: 0.3s;
                    }
                }
            }

        }
        .nav-button {
            display: inline-flex;
            padding: 16px 49px;
            
            color: var(--dark-text);
            background-color: var(--light-text);
            font-family: var(--accent-font);
            line-height: 1.33;
            font-size: 18px;
            transition: .5s;

            &:hover {
                box-shadow: rgba(252, 252, 252, 0.493) 0px 5px 15px;            
            }

            @media(max-width: 415px) {
                display: none;
            }
        }
        .nav-menu {
            display: none;
            @media(max-width: 990px) {
                display: block;
                height: 18px;
                width: 30px;
                position: relative;
                cursor: pointer;
                z-index: 5;
                span {
                    transition: 0.3s ease-in;
                    top: calc(50% - 1px);
                    left: 0;
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background: #FFF;
                    &:first-child {
                        top: 0;
                    }
                    &:last-child {
                        top: auto;
                        bottom: 0;
                    }
                }
            }
            
        }
    }
}