.header {
    &__container {
        padding: 12px 80px;
        background: var(--dark-text);
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 30px;
    }
    &__navigation {
        display: flex;
        align-items: center;
        column-gap: 33px;
        .nav {
            .nav__list {
                display: flex;
                column-gap: 25px;
                li:hover>.submenu {
                    opacity: 1;
                    visibility: visible;
                    transform: rotate(0);
                }
                .nav__item {
                    .submenu {
                        background: #464343;
                        position: absolute;
                        z-index: 5;
                        transform-origin: 0 0;
                        transform: rotateX(-90deg);
                        transition: .3s linear;
                        visibility: hidden;
                        opacity: 0;
                        li {
                            position: relative;
                        }
                        a {
                            display: block;
                            padding: 10px 20px;
                            color: var(--light-text);
                            font-family: var(--main-font);
                            font-weight: 400;
                            line-height: 1.75;
                            font-size: 16px;
                            border-bottom: 1px solid #FFF;
                            &:hover {
                                background: var(--gold);
                            }
                        }
                        .submenu {
                            position: absolute;
                            top: 0;
                            left: 100%;
                            transition: transform .3s linear;
                        }
                    }
                }
                .nav__link {
                    color: var(--light-text);
                    font-family: var(--main-font);
                    font-weight: 400;
                    line-height: 1.75;
                    font-size: 16px;
                    position: relative;
                    &:hover::before {
                        width: 100%;
                        left: 0;
                        right: 0%;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        left: 50%;
                        right: 50%;
                        background: #fff;
                        width: 0;
                        height: 1px;
                        bottom: -2px;
                        transition: 0.3s;
                    }
                }
            }
        }
        .nav-button {
            display: inline-flex;
            padding: 16px 49px;
            
            color: var(--dark-text);
            background-color: var(--light-text);
            font-family: var(--accent-font);
            line-height: 1.33;
            font-size: 18px;
            transition: .5s;

            &:hover {
                box-shadow: rgba(252, 252, 252, 0.493) 0px 5px 15px;            
            }
        }
    }
}