.home {
    &__container {
        background-image: url('./../img/index/home/bg.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        @media(max-width: 1920px) {
            max-width: 100%;
        }
    }
    &__content {
        padding-top: 128px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media(max-width: 1920px) {
            max-width: 1440px;     
            margin: 0 auto;       
        }
        @media(max-width: 415px) {
            align-items: center;
            justify-self: center;
            text-align: center;
        }
        .content__category {
            color: var(--light-text);
            font-family: var(--main-font);
            font-size: 16px;
            font-weight: 500;
            line-height: 1.25; /* 125% */
            letter-spacing: 3px;
            text-transform: uppercase;
            margin-bottom: 24px;
            span {
                font-weight: 900;
            }
            @media(max-width: 415px) {
                font-size: 18px;
                margin-bottom: 40px;
                width: 300px;
            }
            @media(max-width: 375px) {
                font-size: 12px;
            }
        }
        .content__title {
            color: var(--light-text);
            font-family: var(--accent-text);
            font-size: 56px;
            max-width: 803px;
            line-height: 1.14;
            letter-spacing: -2px;
            margin-bottom: 24px;
            @media(max-width: 1000px) {
                max-width: 600px;
            }
            @media(max-width: 750px) {
                max-width: 400px;
                font-size: 40px;;
                letter-spacing: 0;
            }
            @media(max-width: 415px) {
                font-size: 32px;
                line-height: 1.30;
                width: 350px;
                margin-bottom: 40px;
            }
            @media(max-width: 375px) {
                font-size: 25px;
                width: 300px;
                font-weight: 700;
                line-height: 1.20;
            }
            @media(max-width: 280px) {
                width: 200px;
                font-size: 18px;
                line-height: 1.3;
                font-weight: 600;
            }

            @media(min-height: 1368px) {
                font-size: 60px;
            }
        }
        .content__author {
            color: var(--light-text);
            font-size: 16px;
            font-weight: 400;
            line-height: 1.75;
            font-family: var(--main-font);
            margin-bottom: 16px;
            span {
                color: var(--gold);
                cursor: pointer;
            }
            @media(max-width: 415px) {
                font-size: 18px;
                width: 300px;
                margin-bottom: 50px;
            }
            @media(max-width: 375px) {
                font-size: 14px;
                width: 300px;
                margin-bottom: 50px;
            }
            @media(min-height: 1368px) {
                font-size: 22px;
            }   
        }
        .content__desc {
            max-width: 599px;

            color: var(--light-text);
            font-family: var(--main-font);
            font-weight: 400;
            line-height: 1.75;
            font-size: 16px;
            margin-bottom: 48px;
            @media(max-width: 750px) {
                max-width: 400px;
                font-size: 14px;
            }
            @media(max-width: 415px) {
                font-size: 16px;
                width: 300px;
            }
            @media(max-width: 375px) {
                font-size: 16px;
                width: 300px;
            }
            @media(max-width: 360px) {
                font-size: 14px;
                width: 250px;
            }
            @media(max-width: 280px) {
                width: 250px;
                font-size: 12px;
                line-height: 1.3;
                font-weight: 400;
            }

            @media(min-height: 1368px) {
                font-size: 18px;
            }
        }
        .content__button {
            color: var(--dark-text);
            font-weight: 700;
            font-size: 18px;
            font-family: var(--accent-font);
            line-height: 1.33;

            background: var(--gold);
            padding: 16px 48px;
            display: inline-flex;
            width: 205px;
            margin-bottom: 192px;
            transition: .3s;

            &:hover {
                @include shadow;
            }
            @media(max-width: 412px) {
                margin-top: 40px;
            }
        }
    }
}