.home {
    &__container {
        background-image: url('./../img/index/home/bg.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__content {
        padding-top: 128px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .content__category {
            color: var(--light-text);
            font-family: var(--main-font);
            font-size: 16px;
            font-weight: 500;
            line-height: 1.25; /* 125% */
            letter-spacing: 3px;
            text-transform: uppercase;
            margin-bottom: 24px;

            span {
                font-weight: 900;
            }
        }
        .content__title {
            color: var(--light-text);
            font-family: var(--accent-text);
            font-size: 56px;
            max-width: 803px;
            line-height: 1.14;
            letter-spacing: -2px;
            margin-bottom: 24px;
        }
        .content__author {
            color: var(--light-text);
            font-size: 16px;
            font-weight: 400;
            line-height: 1.75;
            font-family: var(--main-font);
            margin-bottom: 16px;

            span {
                color: var(--gold);
            }
        }
        .content__desc {
            max-width: 599px;

            color: var(--light-text);
            font-family: var(--main-font);
            font-weight: 400;
            line-height: 1.75;
            font-size: 16px;
            margin-bottom: 48px;
        }
        .content__button {
            color: var(--dark-text);
            font-weight: 700;
            font-size: 18px;
            font-family: var(--accent-font);
            line-height: 1.33;

            background: var(--gold);
            padding: 16px 48px;
            display: inline-flex;
            width: 205px;
            margin-bottom: 192px;
            transition: .3s;

            &:hover {
                @include shadow;
            }
        }
    }
}